@font-face {
   font-family: burlak;
   src: url("./Burlak.ttf");
}
@font-face {
   font-family: drpodr;
   src: url("./drpodr.ttf");
}
@font-face {
   font-family: rurintania;
   src: url("./Rurintania.ttf");
}
