@font-face {
   font-family: aktau;
   src: url('./Aktau.ttf');
 }
 @font-face {
   font-family: burlak;
   src: url('./Burlak.ttf');
 }
 @font-face {
   font-family: grunge;
   src: url('./GRUNGE.TTF');
 }
 @font-face {
   font-family: drpodr;
   src: url('./drpodr.ttf');
 }
 @font-face {
   font-family: karmen;
   src: url('./Karmen.ttf');
 }
 @font-face {
   font-family: rurintania;
   src: url('./Rurintania.ttf');
 }