.selectedPage {
	font-weight: bold;
}
.follow {
	border: 1px solid turquoise;
   border-radius: 2px;
   background-color: paleturquoise;
}
.unfollow {
	border: 1px solid #db7d9d;
	border-radius: 2px;
   background-color: #dd98af;
}