.addPost {
   display: flex;
   margin: 5px;
}
.textField {
   font-size: large;
   width: 200px;
   height: 30px;
   border: 1px solid lightblue;
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
}
.submitBtn {
   height: 56px;
   border: 1px solid lightblue;
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
}