.header {
  grid-area: h;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
}
.header img {
  height: 100%;
}
.nav {
  width: 110px;
}
.loginBlock {
  color: aliceblue;
}