/* dialogs */

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    font-size: large;
}

.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    font-weight: bold;
}

/* messages */

.messages {
    padding: 10px;
}

.newMessage {
    margin-top: 20px;
    display: flex;
}
.newMessage textarea {
    width: 200px;
    border: 1px solid lightblue;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.newMessage button {
    border: 1px solid lightblue;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
