/* dialogs */

.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    font-size: large;
}

.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    font-weight: bold;
}

/* messages */

.messages {
    padding: 10px;
}

.newMessage {
    margin-top: 20px;
    display: flex;
}